<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.example.bakingapp.provider.READ_WRITE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.recipe_detail.RecipeDetailActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/RecipeDetailActivityTheme">
        </activity>

        <activity android:name=".widget.config.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BakingProvider"
            android:authorities="com.example.bakingapp.provider"
            android:exported="true"
            android:permission="com.example.bakingapp.provider.READ_WRITE" />


        <receiver android:name=".widget.IngredientsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredients_widget_info" />
        </receiver>


        <service android:name=".widget.IngredientsService" />

        <service
            android:name=".widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>